<div class="mat-elevation-z8 container fluid">
  <table
    mat-table
    [dataSource]="users">
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First name</th>
      <td mat-cell *matCellDef="let element" (click)="userSelected(element)">{{ element.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last name &nbsp</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator
    [pageSize]="paginationInfo.usersPerPage"
    [length]="paginationInfo.usersCount"
    [pageIndex]="paginationInfo.activePage - 1"
    (page)="pageChanged($event)">
  </mat-paginator>
</div>